<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="git.commandline" />
  <package id="inconsolata" />
  <package id="meslolg.dz" />
  <package id="skype" />
  <package id="sourcecodepro" />
  <!-- <package id="sourcetree" /> -->
  <package id="tomighty" />
  <!-- <package id="tortoisegit" /> -->
  <package id="unzip" />
</packages>

