[alias]
	a = add
	ai = add --interactive
	ap = add --patch
	b = branch
	br = branch --remote
	c = commit
	co = checkout
	cp = cherry-pick
	cl = clone
	ci = commit
	d = diff
	dc = diff --cached
	fa = fetch --all --prune
	fl = flow
	flf = flow feature
	flfco = flow feature checkout
	flfr = flow feature rebase
	flr = flow release
	last = log -1 --stat
	lo = log --oneline --decorate
	lol = log --graph --pretty='%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	m = merge
	ma = merge --abort
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rhh = reset --hard HEAD
	sb = status --short --branch
	st = stash
	unstage = reset HEAD --
	wip = commit --interactive --message --wip-
	wip-amend = commit --interactive --message --wip- --amend
[core]
	autcrlf = false
[mergetool "tortoisemerge"]
	path = C:\\Program Files\\TortoiseGit\\bin\\TortoiseGitMerge.exe
[merge]
	tool = tortoisemerge
